/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background-image: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
  margin-top: 40%;
  overflow: hidden; }
  body main .container {
    background-color: white;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 40%;
    margin-bottom: 20%;
    border-radius: 25px; }
    body main .container .main-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr); }
      body main .container .main-grid .image {
        height: 150px; }
        body main .container .main-grid .image .mobile {
          position: relative; }
          body main .container .main-grid .image .mobile img {
            position: absolute; }
          body main .container .main-grid .image .mobile .square {
            top: -5%;
            margin-left: 15%; }
          body main .container .main-grid .image .mobile .woman {
            top: -105px;
            margin-left: 5%; }
        body main .container .main-grid .image .desktop {
          display: none; }
        body main .container .main-grid .image .orange-box {
          display: none; }
      body main .container .main-grid .FAQ h1 {
        margin-bottom: 5%;
        font-weight: 700;
        font-size: 2rem;
        color: #1d1e35;
        text-align: center; }
      body main .container .main-grid .FAQ .faq-points {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 7%;
        margin-right: 7%;
        border-bottom: 1px solid #e7e7e9;
        cursor: pointer; }
        body main .container .main-grid .FAQ .faq-points .question {
          display: flex;
          justify-content: space-between;
          padding-bottom: 5%;
          padding-top: 5%; }
          body main .container .main-grid .FAQ .faq-points .question h2 {
            color: #4a4b5e;
            font-size: 0.81rem; }
          body main .container .main-grid .FAQ .faq-points .question img {
            height: 50%; }
        body main .container .main-grid .FAQ .faq-points:hover h2 {
          color: #f47c57; }
        body main .container .main-grid .FAQ .faq-points .answer {
          display: none; }
          body main .container .main-grid .FAQ .faq-points .answer p {
            color: #787887;
            margin-right: 15%;
            margin-bottom: 5%;
            line-height: 1.2rem;
            text-align: justify; }
  body footer .attribution {
    font-size: 11px;
    text-align: center; }
    body footer .attribution a {
      color: white; }

@media screen and (min-width: 1008px) {
  html body {
    margin-top: 9%; }
    html body main .container {
      width: 63%;
      margin: auto;
      margin-bottom: 9%; }
      html body main .container .main-grid {
        grid-template-columns: repeat(2, 1fr); }
        html body main .container .main-grid .image {
          height: 100%; }
          html body main .container .main-grid .image .mobile {
            display: none; }
          html body main .container .main-grid .image .desktop {
            height: 100%;
            display: block;
            background-image: url("../../Frontend-Mentor-instructions/images/bg-pattern-desktop.svg");
            background-position: 120% 75%;
            background-size: 170%;
            background-repeat: no-repeat;
            position: relative; }
            html body main .container .main-grid .image .desktop img {
              position: absolute; }
            html body main .container .main-grid .image .desktop .woman {
              width: 100%;
              left: -15%;
              clip-path: inset(0 0 0 15%); }
            html body main .container .main-grid .image .desktop .box {
              width: 42%;
              left: -20%;
              top: 30%; }
        html body main .container .main-grid .FAQ {
          margin-top: 18%; }
          html body main .container .main-grid .FAQ h1 {
            text-align: left;
            margin-left: 7%; }
          html body main .container .main-grid .FAQ .faq-points .question h2 {
            font-size: 0.9rem; } }

/*# sourceMappingURL=style.css.map */