@import 'colors.scss';

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-image: linear-gradient($primary-gradient-1, $primary-gradient-2);
    height: 100vh;
    overflow: hidden;

    main {
        .container {
            background-color: white;
            margin-left: 6%;
            margin-right: 6%;
            margin-top: 40%;
            margin-bottom: 20%;
            border-radius: 25px;

            .main-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);

                .image {
                    height: 150px;

                    .mobile {
                        position: relative;

                        img {
                            position: absolute;
                        }

                        .square {
                            top: -5%;
                            margin-left: 15%;
                        }

                        .woman {
                            top: -105px;
                            margin-left: 5%;
                        }
                    }

                    .desktop {
                        display: none;
                    }

                    .orange-box {
                        display: none;
                    }
                }

                .FAQ {
                    h1 {
                        margin-bottom: 5%;
                        font-weight: 700;
                        font-size: 2rem;
                        color: $primary-text-1;
                        text-align: center;
                    }

                    .faq-points {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        margin-left: 7%;
                        margin-right: 7%;
                        border-bottom: 1px solid $dividers;
                        cursor: pointer;

                        .question {
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 5%;
                            padding-top: 5%;

                            h2 {
                                color: $neutral-text-1;
                                font-size: 0.81rem;
                            }
        
                            .arrow {              
                                height: 50%;
                            }

                            .rotated {
                                transform: rotate(180deg);
                            }
                        }

                        &:hover {
                            h2 {
                                color: $primary-text-2;
                            }
                        }

                        .answer {
                            display: none;
    
                            p {
                                color: $neutral-text-2;
                                margin-right: 15%;
                                margin-bottom: 5%;
                                line-height: 1.2rem;
                                text-align: justify;
                            }
                        }
                    }

                    .active {
                        .question {
                            h2 {
                                color: $primary-text-1;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        
        .attribution {
            font-size: 11px;
            text-align: center;

            a {
                color: white;
            }
        }
    }
}