@import 'colors.scss';

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-image: linear-gradient($primary-gradient-1, $primary-gradient-2);

    main {
        .container {
            background-color: white;
            margin-left: 6%;
            margin-right: 6%;
            margin-top: 40%;
            margin-bottom: 40%;
            border-radius: 25px;

            .main-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);

                .image {
                    height: 150px;

                    .mobile {
                        position: relative;

                        img {
                            position: absolute;
                        }

                        .square {
                            top: -5%;
                            margin-left: 15%;
                        }

                        .woman {
                            top: -105px;
                            margin-left: 8%;
                        }
                    }

                    .desktop {
                        display: none;
                    }
                }

                .FAQ {
                    h1 {
                        margin-bottom: 10%;
                        font-weight: 700;
                        font-size: 2rem;
                        color: $primary-text-1;
                        text-align: center;
                    }

                    .faq-points {
                        display: flex;
                        justify-content: space-between;
                        margin-left: 7%;
                        margin-right: 7%;
                        margin-bottom: 5%;
                        border-bottom: 1px solid $dividers;
                            
                        h2 {
                            color: $neutral-text-1;
                            font-size: 0.81rem;
                            margin-bottom: 5%;
                        }

                        img {              
                            height: 30%;
                        }

                        .answer {
                            display: none;
    
                            p {
                                color: $neutral-text-2;
                                margin-right: 15%;
                                margin-bottom: 5%;
                                line-height: 1.2rem;
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        margin-bottom: 15%;

        .attribution {
            font-size: 11px;
            text-align: center;

            a {
                color: white;
            }
        }
    }
}